<div class="conteiner-landing-page">
  <section class="banner">
    <img src="../../../../../assets/banner1.webp" alt="banner" class="fitBg" />
    <div class="content">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Productos</mat-label>
          <input type="text" matInput />
          <mat-autocomplete class="mat-autocomplete">
            <mat-option [value]="option" class="mat-option">
              <div>
                {{ option }}
              </div>
              <div class="disponibilidad">Disponibilidad: {{ option }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="info">
      <h2>Bienvenidos</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi eos quam
        quasi id molestias cumque, delectus eius aperiam veniam culpa expedita
        provident molestiae laboriosam, dicta, excepturi obcaecati qui
        perspiciatis at.
      </p>
    </div>
  </section>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
